In [1]:
##The Startup Process

import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:
##District Summary

#Total Schools
school_count = len(school_data["School ID"].unique())
school_count

15

In [3]:
#Total Students
student_count = len(student_data["Student ID"].unique())
student_count

39170

In [4]:
#Total Budget
total = school_data["budget"].sum()
total

24649428

In [5]:
#Average Math Score
avg_math = student_data["math_score"].mean()
avg_math

78.98537145774827

In [6]:
#Average Reading Score
avg_read = student_data["reading_score"].mean()
avg_read

81.87784018381414

In [7]:
#Overall Math Score (%)
student_math = student_data.loc[student_data["math_score"] >= 70, :]
student_math
student_count_math=len(student_math["Student ID"].unique())
student_count_math
student_count_math_percent = student_count_math/student_count * 100
student_count_math_percent

74.9808526933878

In [8]:
#Overall Reading Score (%)
student_read = student_data.loc[student_data["reading_score"] >= 70, :]
student_read
student_count_read=len(student_read["Student ID"].unique())
student_count_read
student_count_read_percent = student_count_read/student_count * 100
student_count_read_percent

85.80546336482001

In [9]:
#Overall Passing Score (%)
student_math_and_read = student_data[(student_data["reading_score"]>=70) & (student_data["math_score"] >= 70)]
student_math_and_read
student_count_math_and_read=len(student_math_and_read["Student ID"].unique())
student_count_math_and_read
student_count_math_and_read_percent = student_count_math_and_read/student_count * 100
student_count_math_and_read_percent

65.17232575950983

In [10]:
#Generating the District Summary Data Frame
summary_df = pd.DataFrame({"Total Schools": school_count,
                            "Total Students": student_count,
                            "Total Budget": total, 
                          "Average Math Score": avg_math,
                          "Average Reading Score":avg_read,
                          "Percentage of Students with a Passing Math Score": student_count_math_percent,
                          "Percentage of Students with a Passing Reading Score": student_count_read_percent,
                          "Percentage of Students with a Passing Math and Reading Score": student_count_math_and_read_percent}, index=[0])
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage of Students with a Passing Math Score,Percentage of Students with a Passing Reading Score,Percentage of Students with a Passing Math and Reading Score
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
##School Summary Data Frame

school_and_students = pd.merge(school_data, student_data)
school_and_students["school_name"].unique()
len(school_and_students["school_name"].unique())
school_and_students

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [12]:
#Total School Budget
total_school_budget=school_and_students.groupby("school_name").mean()["budget"]
total_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [13]:
#Total Students per School
student_per_school=school_and_students.groupby("school_name").count()["School ID"]
student_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: School ID, dtype: int64

In [14]:
#Calculating the Total School Budget for every student in the schools
inv_school_budget=total_school_budget/student_per_school
inv_school_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
#Average Math Score per School
avg_math_score_per_school=school_and_students.groupby("school_name").mean()["math_score"]
avg_math_score_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
#Average Reading Score per School

avg_reading_score_per_school=school_and_students.groupby("school_name").mean()["reading_score"]
avg_reading_score_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
#Calculating per school value counts and overall passing rate

per_school_counts = school_and_students["school_name"].value_counts()
passing_score = school_and_students[(school_and_students["reading_score"] >= 70)
                                               & (school_and_students["math_score"] >= 70)]
overall_passing_rate = passing_score.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [18]:
#Overall Math Score
math_score = school_and_students[(school_and_students["math_score"] >= 70)]
overall_math_rate = math_score.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_math_rate

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [19]:
#Overall Reading Score
reading_score = school_and_students[(school_and_students["reading_score"] >= 70)]
overall_reading_rate = reading_score.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_reading_rate

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [20]:
#School Type
school_type_df=school_and_students[["school_name","type"]].copy()
school_type_df.drop_duplicates(inplace=True)
school_type_df.set_index("school_name",inplace=True)
types=school_type_df["type"]
types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [21]:
#Getting the School Summary Data Frame
school_summary_df = pd.DataFrame({"School Type": types,
                            "Total Students": per_school_counts,
                            "Total Budget": total_school_budget,
                            "Per Student Budget": inv_school_budget,
                          "Average Math Score": avg_math_score_per_school,
                          "Average Reading Score":avg_reading_score_per_school,
                          "Percentage of Students with a Passing Math Score": overall_math_rate,
                          "Percentage of Students with a Passing Reading Score": overall_reading_rate,
                          "Percentage of Students with a Passing Math and Reading Score": overall_passing_rate})
school_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Students with a Passing Math Score,Percentage of Students with a Passing Reading Score,Percentage of Students with a Passing Math and Reading Score
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [22]:
##Top Performing Schools
top_performing_schools_df = school_summary_df.sort_values("Percentage of Students with a Passing Math and Reading Score", ascending=False)

top_performing_schools_df= top_performing_schools_df.head(10)
top_performing_schools_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Students with a Passing Math Score,Percentage of Students with a Passing Reading Score,Percentage of Students with a Passing Math and Reading Score
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887

In [23]:
##Bottom Performing Schools
bottom_performing_schools_df = school_summary_df.sort_values("Percentage of Students with a Passing Math and Reading Score", ascending=True)

bottom_performing_schools_df= bottom_performing_schools_df.head(5)
bottom_performing_schools_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Students with a Passing Math Score,Percentage of Students with a Passing Reading Score,Percentage of Students with a Passing Math and Reading Score
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [24]:
##Math Scores By Grade
grade9 = school_and_students.loc[school_and_students["grade"] == "9th", :]
grade10 = school_and_students.loc[school_and_students["grade"] == "10th", :]
grade11 = school_and_students.loc[school_and_students["grade"] == "11th", :]
grade12 = school_and_students.loc[school_and_students["grade"] == "12th", :]

math_score_grade9 = grade9.groupby(["school_name"]).mean()["math_score"]
math_score_grade10 = grade10.groupby(["school_name"]).mean()["math_score"]
math_score_grade11 = grade11.groupby(["school_name"]).mean()["math_score"]
math_score_grade12 = grade12.groupby(["school_name"]).mean()["math_score"]

math_scores_by_grade_df = pd.DataFrame({"9th":math_score_grade9,
                                       "10th":math_score_grade10,
                                       "11th":math_score_grade11,
                                       "12th":math_score_grade12})
math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [25]:
##Reading Scores By Grade
reading_score_grade9 = grade9.groupby(["school_name"]).mean()["reading_score"]
reading_score_grade10 = grade10.groupby(["school_name"]).mean()["reading_score"]
reading_score_grade11 = grade11.groupby(["school_name"]).mean()["reading_score"]
reading_score_grade12 = grade12.groupby(["school_name"]).mean()["reading_score"]

reading_scores_by_grade_df = pd.DataFrame({"9th":reading_score_grade9,
                                       "10th":reading_score_grade10,
                                       "11th":reading_score_grade11,
                                       "12th":reading_score_grade12})
reading_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [26]:
##Scores By School Spending
bins = [0,584,630,645,680]

group_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels)

Bailey High School       $585-630
Cabrera High School         <$585
Figueroa High School     $630-645
Ford High School         $630-645
Griffin High School      $585-630
Hernandez High School    $645-680
Holden High School          <$585
Huang High School        $645-680
Johnson High School      $645-680
Pena High School         $585-630
Rodriguez High School    $630-645
Shelton High School      $585-630
Thomas High School       $630-645
Wilson High School          <$585
Wright High School          <$585
Name: Per Student Budget, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [27]:
school_summary_df["School Spending Range"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels)

school_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Students with a Passing Math Score,Percentage of Students with a Passing Reading Score,Percentage of Students with a Passing Math and Reading Score,School Spending Range
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [28]:
school_spending = school_summary_df.groupby("School Spending Range")

school_spending[["Average Math Score", "Average Reading Score", "Percentage of Students with a Passing Math Score", "Percentage of Students with a Passing Reading Score", "Percentage of Students with a Passing Math and Reading Score"]].mean()

,Average Math Score,Average Reading Score,Percentage of Students with a Passing Math Score,Percentage of Students with a Passing Reading Score,Percentage of Students with a Passing Math and Reading Score
School Spending Range,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [29]:
##Scores By School Size

bins2 = [0,1000,2000,5000]

group_labels2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]


school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], bins2, labels=group_labels2)

school_size = school_summary_df.groupby("School Size")

school_size[["Average Math Score", "Average Reading Score", "Percentage of Students with a Passing Math Score", "Percentage of Students with a Passing Reading Score", "Percentage of Students with a Passing Math and Reading Score"]].mean()

,Average Math Score,Average Reading Score,Percentage of Students with a Passing Math Score,Percentage of Students with a Passing Reading Score,Percentage of Students with a Passing Math and Reading Score
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [30]:
##Scores By School Type

school_type = school_summary_df.groupby("School Type")

school_type[["Average Math Score", "Average Reading Score", "Percentage of Students with a Passing Math Score", "Percentage of Students with a Passing Reading Score", "Percentage of Students with a Passing Math and Reading Score"]].mean()

,Average Math Score,Average Reading Score,Percentage of Students with a Passing Math Score,Percentage of Students with a Passing Reading Score,Percentage of Students with a Passing Math and Reading Score
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208